<form id="preFormChat" action="/" method="post">
	<input type="text" id="nombre" />
	<button id="chat">Chat</button>
</form>
<div id="chatContent">
	<form id="formChat" action="/" method="post">
		<input type="text" id="texto" />
	  	<button>Enviar</button>
	</form>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="socket.js"></script>