<div class="container">
	<form id="preFormChat" action="/" method="post">
		<input type="text" id="nombre" value="{{nombre_usuario}}"/>
		<input type="hidden" id="room" value="{{id_curso}}"/>
		<button id="unirChat">Chat</button>
		<button id="dejarChat">Dejar Chat</button>
	</form>
	<div id="chatContent">
		<form id="formChat" action="/" method="post">
			<input type="text" id="texto" />
		  	<button>Enviar</button>
		</form>
	</div>
	{{id_curso}} {{nombre_usuario}}
</div>

<script src="socket.io/socket.io.js"></script>
<script src="socket.js"></script>