<form id="preFormChat" action="/" method="post">
	<input type="text" id="nombre" />
	<input type="hidden" id="room1" value="room1"/>
	<button id="unirChat">Chat</button>
	<button id="dejarChat">Dejar Chat</button>
</form>
<div id="chatContent">
	<form id="formChat" action="/" method="post">
		<input type="text" id="texto" />
	  	<button>Enviar</button>
	</form>
</div>

<form id="preFormChat2" action="/" method="post">
	<input type="text" id="nombre2" />
	<input type="hidden" id="room2" value="room2"/>
	<button id="unirChat2">Chat</button>
	<button id="dejarChat2">Dejar Chat</button>
</form>
<div id="chatContent2">
	<form id="formChat2" action="/" method="post">
		<input type="text" id="texto2" />
	  	<button>Enviar</button>
	</form>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="socket.js"></script>