<div class="container">
	<form id="preFormChat" action="/" method="post">
		<input type="hidden" id="nombre" value="{{nombre_usuario}}"/>
		<input type="hidden" id="room" value="{{id_curso}}"/>
		<button id="unirChat" class="btn btn-primary">Unirse al chat</button>
		<button id="dejarChat" class="btn btn-primary">Dejar el chat</button>
	</form>
	<div id="chatContent">
		<div id="chatContentMessages" style="margin-top: 20px">
		</div>
		<div id="chatContentForm" class="form-inline my-2 my-lg-0">
			<form id="formChat" action="/" method="post">
				<input type="text" id="texto" class="form-control mr-sm-2"/>
			  	<button class="btn btn-primary my-2 my-sm-0">Enviar</button>
			</form>
		</div>
	</div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="socket.js"></script>