<footer class="pt-4 my-md-5 pt-md-5 border-top">
<div class="container">
	<div class="row">
      <div class="col-md-2">
        <img class="mb-2" src="img/footerIcon.jpg" alt="The Grumpiest Devs" width="120" height="120" title="The Grumpiest Devs">
        <small class="d-block mb-3 text-muted">The Grumpiest Devs</small>
      </div>
      <div class="col-md-3">
        <h5>Acerca de The Grumpiest</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Mas trabajos...</a></li>
        </ul>
      </div>
    </div>
    </div>
</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>