{{>header}}
<div class="container">
	<div class="row">
		<div class="col">
			<form id="formUpload" action="" method="post">
			{{id_curso}}
			</form>
		</div>
		<div class="col">
			{{id_curso}} {{nombre_curso}}
			{{>chat id_curso=id_curso nombre_usuario=nombre_usuario}}
		</div>
	</div>
</div>
{{>footer}}